 nb-card {
    flex: 1 1 45%;
    margin: 0 2.5%;
  
    &.own-scroll {
      height: 30rem;
    }
}
 nb-card ::-webkit-scrollbar-thumb {
    background: #ff386a;
 }

 nb-card .food-cat-btn {
   width: 113px;
   height: 60px;
   white-space: normal;
   cursor: pointer;
 }

 .footer {
   position: absolute;
   bottom: 0;
 }

 .footer button  {
  cursor: pointer;
    white-space: normal;
    width: 115px;
    height: 55px;
    text-align: center;
    font-size: 0.9em;
    margin-left: 13px;
 }

 .footer input[type="button"] {
  width: 13em;
  height: 55px;
  text-align: center;
  font-size: 1em;
  margin-left: 10px;
 }

 nb-actions nb-action:not(:first-child) {
   border-left: 2px solid #a1a1e5;
}

nb-actions nb-action i {
  cursor: pointer;
}

.searched-customer-list {
  position: absolute;
  width: 87%;
  z-index: 999;
  margin-top: 0.3em;
}

.disabled {
  pointer-events: none;
}
