:host nb-tab {
    padding: 1.25rem;
  }
  
  .tbl-body {
    text-align: center;
    padding: 3rem 0;
    cursor: pointer;
  }
  
  .fa-utensils {
    font-size: 1.2rem;
    margin:0 0.3em 0 0;
  }

  .table-reserved {
    background-color: #f926f5c7;
    color: #fff;
    width: 100%;
    border-radius: 8px;
  }

  .reserve-tbl-data {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .reserve-tbl-data :nth-child(1) {
    margin-right: 10px; 
  }
  .reserve-tbl-data :nth-child(2) {
    margin-left: 10px; 
  }
 
  