<div class="row">
  <div class="col-md-12">
      <nb-card>
          <nb-card-body>
              <nb-tabset>
                      <nb-tab *ngFor="let tbl_cat of tbl_cats; index as i" [active]="i == 0" tabTitle="{{tbl_cat.table_cat_name}}" tabIcon="fab fa-stack-overflow" responsive>
                            <div class="row">
                                    <div *ngFor="let tbl of  createDummyArray(tbl_cat.total_table)" class="col-xxxl-3 col-md-2">
                                        <nb-card accent="info" (click)="assignTheTableToCustomer(tbl_cat, tbl)">
                                            <nb-card-body class="tbl-body">
                                                <i class="fas fa-utensils"></i> Table {{tbl}}
                                                <div class="reserve-tbl-data" *ngIf="kotData.length>0">
                                                        <ng-container *ngFor="let kot of kotData">
                                                            <div *ngIf="kot.tableNumber == tbl && kot.tableCategory == tbl_cat.table_cat_name" [ngClass]="{'table-reserved': kot.tableNumber == tbl && kot.tableCategory == tbl_cat.table_cat_name }">
                                                                <span>{{kot.created_at | date:'shortTime'}}</span> <span>{{ kot.totalPrice | currency:'INR'}}</span>
                                                            </div>
                                                        </ng-container>
                                                </div>
                                            </nb-card-body>
                                        </nb-card>
                                    </div>
                                </div>
                        </nb-tab>
              </nb-tabset>
          </nb-card-body>
      </nb-card>
  </div>
</div>

