<div class="row">
    <div class="col-xxxl-3 col-md-3">
        <nb-card accent="info">
            <nb-card-header>
                <div class="icon">
                    <i class="far fa-clock"></i>
                </div>
                Last Login
            </nb-card-header>
            <nb-card-body>
                {{ currentUser.last_login }}
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xxxl-3 col-md-3">
        <nb-card accent="info">
            <nb-card-header>
                <div class="icon">
                    <i class="far fa-sticky-note"></i>
                </div>
                My Plan
            </nb-card-header>
            <nb-card-body>
                Free Trial Version
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xxxl-3 col-md-3">
        <nb-card accent="info">
            <nb-card-header>
                <div class="icon">
                    <i class="far fa-calendar-alt"></i>
                </div>
                Plan Start
            </nb-card-header>
            <nb-card-body>
                28-Apr-2017
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xxxl-3 col-md-3">
        <nb-card accent="info">
            <nb-card-header>
                <div class="icon">
                    <i class="far fa-calendar-alt"></i>
                </div>
                Plan End
            </nb-card-header>
            <nb-card-body>
                27-Apr-2018
            </nb-card-body>
        </nb-card>
    </div>
</div>
